* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #373637;
}

body {
    font-family: Poppins-Regular, sans-serif;
    background-color: #eef6fb;
    
}
header {
    position: relative;
    height: 150px;
    top: -50px;
    z-index: 0;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(72deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    filter: blur(40px);
    z-index: 0;
}

header p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    font-family: Poppins-Bold, sans-serif;
}

header .logo {
    font-size: 1.6em;
    font-weight: 1000;
    position: relative;
    top: -0.4rem;
}

.header-container {
    z-index: 1;
    color: #373637;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.landing-left-side {
    font-family: Poppins-Bold, sans-serif;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 20%;
}

.landing-left-side h1 {
    font-size: 2.6rem;
    line-height: 3.1rem;
    font-weight: 1000;
    font-style: normal;
    line-height: 3.1rem;
}

.landing-left-side h1 span {
    color: #2b75ff;
}

.landing-left-side h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 2.1rem;
    margin-top: 0.2rem;
}

.landing-left-side p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8rem;
    margin-top: 0.2rem;
}

.action-buttons {
    display: flex;
    gap: 1rem;
}

.landing-left-side button {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.8rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}

.landing-left-side button.primary {
    background-color: #2b75ff;
   
}

.landing-left-side button.secondary {
    background-color: #373637;
}

.landing-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-right-side img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    font-size: 4rem;
    line-height: 3.1rem;
    font-weight: 1000;
    font-style: normal;
    line-height: 3.1rem;
    margin-bottom: 1rem;
}

.text-line {
    content: '';
    display: block; width: 1.3rem; height: 3px;
    background: #373637; position: absolute;
    transform: rotate(110deg); margin-left: 15.5rem; margin-top: -8.8rem;
    border-radius: 40%;
}
.text-line-2 {
    content: '';
    display: block; width: 1.8rem; height: 3px;
    background: #373637; position: absolute;
    transform: rotate(130deg); margin-left: 16.9rem; margin-top: -8.6rem;
    border-radius: 40%;
}

.text-line-3 {
    content: '';
    display: block; width: 1.5rem; height: 3px;
    background: #373637; position: absolute;
    transform: rotate(150deg); margin-left: 17.6rem; margin-top: -7.3rem;
    border-radius: 40%;
}

.projects h3 {
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2.1rem;
    margin-bottom: 1rem;
}

.line {
    width: 15rem;
    height: 2px;
    background: linear-gradient(90deg,  #FA8BFF 0%, #2BD2FF 100%);
    margin-bottom: 1rem;
}


